@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-fab btn-raised btn-primary btn-material-green pull-right"><i class="mdi-content-add"></i><div class="ripple-wrapper"></div></button>
                    <h3>Workouts</h3>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div>Welcome to the site...</div>
}