
@{
    ViewBag.Title = "Home Page";
}

<div class="row animated fadeIn">

    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
    </div>

    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 loginarea">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="~/Content/logo.png" id="loginlogo"/>
                <h1>Workout Tracker</h1>
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li id="logintabli" class="active">
                        <a id="logintab" href="#">Login</a>
                    </li>
                    <li id="registertabli">
                        <a id="registertab" href="#">Register</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="login">
                        @{ Html.RenderAction("Login", "Home"); }

                    </div>

                    <div id="register" style="display:none">
                        @{ Html.RenderAction("Register", "Home"); }
                    </div>
                </div>
                    
            </div>
        </div>

    </div>

    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var loginshown = true;
        var registershown = false;
        var animationrunning = false;

        $('#logintab').click(function () {
            if (animationrunning || loginshown) return;
            animationrunning = true;

            $('#logintabli').addClass('active');
            $('#registertabli').removeClass('active');


            $('#register').addClass("animated slideOutRight")
               .one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                   function (e) {
                       $('#register').hide();
                       $('#register').removeClass();
                   }
           );

            $('#login').show();
            $('#login').addClass("animated slideInLeft")
                .one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                function (e) {
                    $('#login').removeClass();
                    animationrunning = false;
                    loginshown = true;
                    registershown = false;
                }
            );;

        });

        $('#registertab').click(function () {
            if (animationrunning || registershown) return;
            animationrunning = true;

            $('#logintabli').removeClass('active');
            $('#registertabli').addClass('active');


            $('#login').addClass("animated slideOutLeft")
               .one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                   function (e) {
                       $('#login').hide();
                       $('#login').removeClass();
                   }
           );

           $('#register').show();
           $('#register').addClass("animated slideInRight")
               .one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
               function (e) {
                   $('#register').removeClass();
                   animationrunning = false;
                   registershown = true;
                   loginshown = false;
               }
           );

        });

    </script>
}